<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="methods">

  <test name="Test1">
    <classes>
      <class name="testCases.NewTestBrowserSession"/>
    </classes>
  </test> <!-- TestXML1 -->
  
  <test name="Test2">
    <classes>
      <class name="testCases.Test_TestNg1"/>
    </classes>
  </test> <!-- TestXML2 -->
  
</suite> <!-- Suite -->
